@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
    font-size: 36px;
    line-height: 54px;

}
h4{
    font-size: 18px;
    line-height: 28px;
}

.DanhSach{
    height: 87vh;
    width: 1300px;
    margin-left: 30px;
    background-color: white;
}

.DanhSach .DanhSach-tk{
    padding: 24px;
}

.DanhSach .DanhSach-tk .DanhSach-Ve {
    display: flex;
    padding-top: 10px;
    align-items: stretch;
    justify-content: space-between;
}

.DanhSach .DanhSach-tk .search{
    display: inline;
    border-radius: 12px;
    padding: .5em 1em .5em 0.5em;
    margin-top: 33px;
    background-color: #F7F7F8;
    box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0);
  }
  .DanhSach .DanhSach-tk .DanhSach-Ve .search input{
    font-size: 16px;
    border: none;
    background: none;
    padding: 10px 16px;
    width: 350px;
    
  }

  input:focus{
    outline: none;
}

.DanhSach-locVe{
    margin-top: 27px;
}

.DanhSach-locVe1{
    display: contents;
    border-radius: 1px solid white;
}

button.LocVe, button.XuatFile {
    margin-right: 7px;
    padding: 15px;
    background-color: white;
    color: #FF993C;
    border: 1px solid;
    border-radius: 10px;
    display: initial;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

/* table */
table.table-danhsachve td, th {
    padding: 10px 5px;
  }
  
table.table-danhsachve {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
    
}
table.table-danhsachve thead tr:nth-child(2n + 1) {
    background: #F1F4F8;
    
  }
table.table-danhsachve tbody tr:nth-child(2n + 2) {
    background: #F1F4F8;
  }


  .ThemVe-GiaVe .item-input {
      margin: 0 15px;
      
  } 
  
  